img {
    width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

* {
    margin: 0px;
    padding: 0px;
    outline: 1px dotted red
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin-bottom: 200px;
}

article {
    display: block;
}